{% extends 'base/base.html' %}
 {% block style %}

    .main .container-fluid {
    padding: 0 0px;!important;
     }
    {% endblock %}
{% block content %}

 <form action="." method="GET" class="search_form">
        <input type="text" placeholder="Search..." name="q" class="search" value="{{request.GET.q}}">
        <input type="submit" value="Search" class="submit">
    </form>
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Class List
    </div>
    {% if quizes %}
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Quiz Name</th>
                      <th>Teacher</th>
                      <th>Duration Time</th>
                      <th>Date</th>
                      <th>Questions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cls in quizes %}
                    <tr>
                        <td>{{ cls.name }}</td>
                        <td>{{ cls.owner }}</td>

                        <td>{{ cls.duration }}</td>
                        <td>{{ cls.date }}</td>
                      <td><a href="/quizlist/{{ cls.slug }}/questionlist"><div class="fa fa-list"></div></a></td>

                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% else %}
      <div class="card-body">
          <h3>No Class Register</h3>
      </div>
      {% endif %}
  </div>
{% endblock %}
