<head>
  <meta charset="utf-8">
  <title>Easy Learning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="../../static/css/bootstrap.css" rel="stylesheet" />
  <link href="../../static/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="../../static/css/flexslider.css" rel="stylesheet" />
  <link href="../../static/css/prettyPhoto.css" rel="stylesheet" />
  <link href="../../static/css/camera.css" rel="stylesheet" />
  <link href="../../static/css/jquery.bxslider.css" rel="stylesheet" />
  <link href="../../static/css/style.css" rel="stylesheet" />


<style>
  form{

  }
</style>
  <!-- Theme skin -->
  <link href="../../static/color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="../../static/ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="../../static/ico/favicon.png" />
<style>
    {% block style %}

    {% endblock %}
</style>
  <!-- =======================================================
    Theme Name: Eterna
    Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>
