<script src="../../static/js/jquery.js"></script>
  <script src="../../static/js/jquery.easing.1.3.js"></script>
  <script src="../../static/js/bootstrap.js"></script>

  <script src="../../static/js/modernizr.custom.js"></script>
  <script src="../../static/js/toucheffects.js"></script>
  <script src="../../static/js/google-code-prettify/prettify.js"></script>
  <script src="../../static/js/jquery.bxslider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

  <script src="../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../static/js/portfolio/jquery.quicksand.js"></script>
  <script src="../../static/js/portfolio/setting.js"></script>

  <script src="../../static/js/jquery.flexslider.js"></script>
  <script src="../../static/js/animate.js"></script>
  <script src="../../static/js/inview.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="../../static/js/custom.js"></script>
<script>
{% block content_js %}

{% endblock %}

</script>
