<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <p class="topcontact"><i class="icon-phone"></i> {{ user }}</p>
                    </div>
                    <div class="span6">


                    </div>
                </div>
            </div>
        </div>
        <div class="container">


            <div class="row nomargin">
                <div class="span4">

                </div>
                <div class="span8">
                    <div class="navbar navbar-static-top">
                        <div class="navigation">
                            <nav>
                                <ul class="nav topnav">
                                {% if not  user.is_superuser%}
                                    <li class="active">
                                        <a class="elem" href="{% url 'class:todo_quiz_list' %}"><i
                                                class="icon-edit"></i> Todo </a>

                                    </li>
                                    <li>
                                        <a class="elem" href="{% url 'class:class_list' %}"><i class="icon-edit"></i>
                                            Class </a>

                                    </li>
                                    <li>
                                        <a href="{% url 'class:team_list' %}">My Team </a>

                                    </li>
                                    <li>
                                        <a href="{% url 'class:quiz_list' %}">Quiz</a>

                                    </li>
                                {% endif %}
                                  {% if user.is_superuser%}


<li>
     <a class="elem" href="{% url 'class:list_team_admin' %}"><i
                                                ></i> Team Management </a>

</li><li>
     <a class="elem" href="{% url 'class:list_class_admin' %}"><i
                                                ></i> Class Management </a>

</li>
<li>
     <a class="elem" href="{% url 'class:list_user' %}"><i
                                                ></i> User Management </a>

</li>

                                {% endif %}

                                        {% if user.is_authenticated %}
                                            <li>

                                                <form class="logout_form" action="{% url 'accounts:logout' %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-small btn-secondary" type="submit">
                                                        Logout
                                                    </button>

                                                </form>
                                            </li>

                                        {% else %}
                                            <div class="list-inline-item align-items-end" style="margin-top: auto">
                                                <button
                                                        type="button" class="btn btn-small btn-theme"><a
                                                        href="{% url 'accounts:login' %}">
                                                    Login
                                                </a>
                                                </button>


                                                <button
                                                        type="button" class="btn btn-small btn-theme"><a

                                                        href="{% url 'accounts:signup' %}">
                                                    SignUp
                                                </a>
                                                </button>
                                            </div>

                                        {% endif %}

                                </ul>
                            </nav>
                        </div>
                        <!-- end navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
